[submodule "u-boot"]
	path = u-boot
	url = https://github.com/Lichee-Pi/u-boot.git
	branch = nano-v2018.01
[submodule "sunxi-tools"]
	path = sunxi-tools
	url = https://github.com/Icenowy/sunxi-tools.git
	branch = f1c100s-spiflash
[submodule "kernel"]
	path = kernel
	url = https://github.com/Icenowy/linux.git
	branch = f1c100s-480272lcd-test
[submodule "lv_port_linux_frame_buffer"]
	path = lv_port_linux_frame_buffer
	url = https://github.com/lvgl/lv_port_linux_frame_buffer.git
